*{
   box-sizing: border-box; 
   margin: 0;
padding: 0;
}
body{
    background:url('../../assets/fondo.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}