/* Quita el icono por defecto del navegador en inputs tipo password */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container,
input::-webkit-textfield-decoration-button,
input::-webkit-clear-button {
    display: none !important;
}

.lf-container {
    width: 420px;
    background-color: rgb(114, 0, 0);
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px 40px;
}

.lf-titulo {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.lf-container .lf-inputs {
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 40px;
    border-color: #ffffff;
}

.lf-inputs input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    padding: 12px 30px;
}

.lf-inputs input::placeholder {
    color: rgb(255, 255, 255, 0.5);
}

.lf-icono FaLock {
    transform: translateY(-10px);
}

.lf-inputs .lf-icono {

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 18px;
}

.lf-iconoOjo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-35%);
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

.lf-recuperarCon {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: -25px 20px 20px 20px;
    font-size: 13px;

}

.lf-recuperarCon a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
}

.lf-recuperarCon a:hover {
    text-decoration: underline;
}

.lf-boton {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: rgb(104, 0, 0);
}

.lf-registrar {
    font-size: 13px;
    text-align: center;
    margin: 15px 20px;
    color: rgb(255, 255, 255);
}

.lf-registrar p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.lf-registrar p a:hover {
    text-decoration: underline;
}